<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="script.js"></script>
        <title>Random Word</title>
    </head>
    <body>
        {% load static %}
        <h3>Random Word (attempt # {{counter}})</h3>
        <h1>{{word}}</h1>
        <a href="/">Generate</a>
    </body>
</html>